.body {
    background-color: silver;
}
#header {
    color:black;
    margin: auto;
    text-align: center;
    border: double 5px black;
    font-family:"Lucidia Console", Courier, monospace;
}
.assignment{
    display: flex;
    padding: 20px;
    border-bottom: 2px;
    border-color: black;
    border-bottom-style: dashed;
}
.assignmentimg{
    width: 300px;
    height: 300px;
    object-fit: cover;
    object-position: 0 0;
    padding: 15px;
}
.assignmentdetails{
    margin: auto;
    font-family:"Lucidia Console", Courier, monospace;
    text-align: center;
    width: 60%;
    font-weight: 600;
}